/*
!/.gitignore
!/.shellcheckrc
!/AGENTS.md
!/.config/
!/.bin/
!/.github/
!/.pre-commit-config.yaml
!/.specs/
!/ansible/
!/ansible.cfg
!/home/
!/install
!/README.md
!/xorg.conf

__pycache__/
*.py[cod]
