# This is Git's per-user configuration file.
[user]
	name = Abhishek Singh
	email = abhisheksinghxix@gmail.com
	signingkey = 3D0D436D26266392

[core]
	editor = nvim
	autocrlf = input

[diff]
	tool = vimdiff

[difftool "vimdiff"]
	cmd = "nvim -d $LOCAL $REMOTE"

[color]
	ui = auto

[merge]
	conflictstyle = diff3
	tool = "nvim"

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvim"]
	cmd = "nvim -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd W | wincmd J'" 

[alias]
	lga = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lgb = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lga"
	unstage-all = restore --staged .
	unstage = restore --staged

[credential]
	helper = store

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
