.config/Code
.config/configstore
.config/discord
.config/google-chrome
.config/Microsoft
.config/microsoft-edge-beta
.config/Microsoft\ Teams\ -\ Preview
.config/spotify
.config/teams
.config/Slack
.icons
.config/test
