//@theme "~/.config/rofi/themes/dracula.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/abhi/.config/rofi/themes/github-dark.rasi"
@theme "/home/abhi/.config/rofi/themes/tokyonight.rasi"
