@theme "./themes/catppuccin-mocha.rasi"

configuration {
  modes: "drun,run,window,ssh";
  font: "Iosevka Nerd Font 11";
  show-icons: true;
  sidebar-mode: true;
  lines: 12;
  columns: 1;
  fixed-num-lines: true;
  scrollbar-width: 8px;
}
