// @theme "/usr/share/rofi/themes/android_notification.rasi"
// @theme "./themes/github-dark.rasi"
// @theme "./themes/rose-pine.rasi"
// @theme "/home/abhi/.config/rofi/themes/dracula.rasi"
@theme "./themes/catppuccin-mocha.rasi"
